In [8]:
import pandas as pd

In [9]:
people = {"first":["Ali","Ahmed","mohamed"],"last":["hassan","omar","omar"],"email":["ali@gmial.com","ahmed@gmail.com","mohamed@gmail.com"]}

In [10]:
df = pd.DataFrame(people)
df

     first    last              email
0      Ali  hassan      ali@gmial.com
1    Ahmed    omar    ahmed@gmail.com
2  mohamed    omar  mohamed@gmail.com

In [11]:
#filter

In [14]:
filt = (df["last"]=="omar")
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [16]:
df[filt]

     first  last              email
1    Ahmed  omar    ahmed@gmail.com
2  mohamed  omar  mohamed@gmail.com

In [20]:
df.loc[filt, "email"] #df.loc[~filt,"email"] will give the opposite

1      ahmed@gmail.com
2    mohamed@gmail.com
Name: email, dtype: object

In [21]:
df.loc[~filt,"email"]

0    ali@gmial.com
Name: email, dtype: object