In [30]:
import pandas as pd

In [31]:
people = {"first":["Ali","Ahmed","mohamed"],"last":["hassan","omar","abdo"],"email":["ali@gmial.com","ahmed@gmail.com","mohamed@gmail.com"]}

In [32]:
df = pd.DataFrame(people)
df

     first    last              email
0      Ali  hassan      ali@gmial.com
1    Ahmed    omar    ahmed@gmail.com
2  mohamed    abdo  mohamed@gmail.com

In [33]:
#set_index

In [34]:
df.set_index("email")

                     first    last
email
ali@gmial.com          Ali  hassan
ahmed@gmail.com      Ahmed    omar
mohamed@gmail.com  mohamed    abdo

In [35]:
df #there's no change in dataframe but if i used inplace = True it will change

     first    last              email
0      Ali  hassan      ali@gmial.com
1    Ahmed    omar    ahmed@gmail.com
2  mohamed    abdo  mohamed@gmail.com

In [36]:
df.set_index("email",inplace = True)
df

                     first    last
email
ali@gmial.com          Ali  hassan
ahmed@gmail.com      Ahmed    omar
mohamed@gmail.com  mohamed    abdo

In [45]:
#loc to search by index

In [46]:
df.loc["ali@gmial.com"]

first       Ali
last     hassan
Name: ali@gmial.com, dtype: object

In [47]:
df.loc["ali@gmial.com","last"]

'hassan'

In [48]:
#reset index

In [52]:
df.reset_index(inplace =True)
df

   index              email    first    last
0      0      ali@gmial.com      Ali  hassan
1      1    ahmed@gmail.com    Ahmed    omar
2      2  mohamed@gmail.com  mohamed    abdo

In [57]:
#sort_index

In [61]:
df.set_index("last",inplace =True)

KeyError: "None of ['last'] are in the columns"

In [63]:
df.sort_index() #default asending = True

        index              email    first
last
abdo        2  mohamed@gmail.com  mohamed
hassan      0      ali@gmial.com      Ali
omar        1    ahmed@gmail.com    Ahmed