In [1]:
import pandas as pd

C:\Users\ALKADY\AppData\Local\Temp\ipykernel_27496\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
people = {"first":["Ali","Ahmed","mohamed"],"last":["hassan","omar","omar"],"email":["ali@gmial.com","ahmed@gmail.com","mohamed@gmail.com"]}

In [4]:
df = pd.DataFrame(people)
df

     first    last              email
0      Ali  hassan      ali@gmial.com
1    Ahmed    omar    ahmed@gmail.com
2  mohamed    omar  mohamed@gmail.com

In [14]:
df.sort_values(by= ["last","first"], ascending = [False,True],inplace= True)
df

     first    last              email
1    Ahmed    omar    ahmed@gmail.com
2  mohamed    omar  mohamed@gmail.com
0      Ali  hassan      ali@gmial.com