In [19]:
import pandas as pd
import numpy as np

In [ ]:
#DICTIONARY

In [3]:
data = {"col1":[1,2],"col2":[3,4]}
df = pd.DataFrame(data = data)
df

   col1  col2
0     1     3
1     2     4

In [4]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [ ]:
#SERIES

In [30]:
s = {"col1":[0,1,2,3], "col2": pd.Series([2,3,5],index= [2,3,5])}
sD  = pd.DataFrame(data =s, index =[0,1,2,3]) #care.. 5 didn't print because it's in index 5
sD

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [31]:
# NPARRAY

In [34]:
p = pd.DataFrame( data =np.array([[1,2,3],[4,5,6],[7,8,9]]),columns = ['a','b','c'],index= ['d','e','f'])
p

   a  b  c
d  1  2  3
e  4  5  6
f  7  8  9